html, html a{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

body {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
    background-color:rgba(43, 43, 43, 0.938);
    color: rgba(219, 219, 219, 0.973);
    background-image: url(/images/background_pattern.png);
    background-blend-mode: color-burn;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .drop-menu { 
        display: none; 
    }

    #menu { 
        display: block; 
    }

    nav {
        position: fixed;
        width: 100%;
        top: 0;
    }

    #menu li {
        float: left;
        text-align: center;
        width: 25%;
    }

    #menu a {
        line-height: 64px;
        padding-left: 64px;
        background-size: 64px 64px;
    }

    body { 
        margin-top: 80px; 
    }
}

#info {
    font-size: large;
    font-weight: bold;
    margin: 100px 10px 10px 10px;
    padding: 60px;
    background-color:  rgb(62, 139, 85);
    border-radius: 45px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.452);
}

#menu {
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.979);
}

#menuHome { 
    background-image: url("../images/sustentavel.png");
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#menuHome:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#pilares { 
    background-image: url("../images/pilares.png"); 
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#pilares:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#menuGoal2 { 
    background-image: url("../images/campus.png"); 
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#menuGoal2:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#menuGoal3 { 
    background-image: url("../images/projectos.png"); 
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#menuGoal3:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#menuGoal4 { 
    background-image: url("../images/form.png"); 
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#menuGoal4:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#menuGoal5 { 
    background-image: url("../images/form.png"); 
    background-position: 30%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.116);
}

#menuGoal5:hover  {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.311);
}

#menu a {
    display: block;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    line-height: 32px;
    padding-left: 32px;
    text-decoration: none;
    color: #000;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.041);
}

.drop-menu-button:hover {
    text-shadow: 2px 2px 2px rgba(0, 255, 21, 0.644);
}

#drop-menu-checkbox { 
    display: none; 
}

.drop-menu {
    display: block;
    width: 100%;
    margin: auto;
    background-color: rgb(62, 139, 85);
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid rgba(0, 0, 0, 0.671);
    box-shadow: 0px 0px 15px 4px rgba(6, 139, 39, 0.11);
    padding: 5px;
}

.drop-menu-button {
    display: inline-block;
    padding: 0px 15px 10px 15px;
    background-color: rgb(62, 139, 85);
    cursor: pointer;
}

.drop-menu-button::before {
    content: "\2630";
    font-size: 150%;
    vertical-align: left;
    padding: 0px 25px 0px 0px;
    
}

#drop-menu-checkbox:checked ~ #menu {
    display: block;
    color: rgba(219, 219, 219, 0.973);
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    text-shadow: none;
    border-bottom: 3px solid rgb(0, 0, 0);
}

#background {
    margin: 0px;
}

#image-right {
    position: inherit;
    float: right;
    margin: 0px 0px 0px 40px;
    border-left: 12px solid rgba(255, 255, 255, 0.486);
    border-radius: 6px;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.267);
}

.image-left {
    float: left;
    margin-right: 1.5%;
    border-left: 12px solid rgba(255, 255, 255, 0.486);
    border-radius: 6px;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 0, 0.267);
}

.text-right {
    text-align: right;
    display: contents;
}

hr {
    border: 2px solid rgba(219, 219, 219, 0.973);
    border-radius: 2px;
    box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.452);
}

/* Outros */
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
body::-webkit-scrollbar-thumb {
    background-color: rgb(214, 213, 213);
    outline: 1px solid rgba(7, 7, 7, 0.041);
}

body::-webkit-scrollbar-track {
    background-color: rgba(29, 139, 62, 0.384);
}

body::-webkit-scrollbar-corner {
    display: none;
}

#menu li a {
    padding: 15px;
}



@media screen and (min-width: 1110px) {

    article img {
        max-width: 40%;
    }
    
}

@media screen and (max-width: 1110px) {

    article img {
        max-width: 80%;
        display: block;
        float: none!important;
    }
    
}

.form-subtitle {
    font-size: 12px;
}

form input:not([type='submit']):not([type='reset']) {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
}

form input[type='submit'], form input[type='reset'] {
    height: 25px;
    margin-top: 10px;
}

form select {
    margin-bottom: 10px;
}

form select {
    /*height: 20px;*/
    /*line-height:20px;*/
    padding: 5px;
}

@media screen and (min-width: 720px) {

    form {
        width: 45%;
    }
    
}

@media screen and (max-width: 720px) {

    form {
        width: 100%;
    }
    
}

.commentary-box {
    width: 100%;
    height: auto;
    background-color: brown;
    padding: 5px 10px 5px 10px;
    box-sizing:content-box;
    margin-bottom: 10px;
    border-radius: 15px;
    
}

.commentary-text {
    font-size: 12px;
    font-weight: initial;
    white-space: pre-wrap;
}

.commentary-box hr {
    width: 35%;
    margin-left: 0;
    border: 1px solid;
    box-shadow: none;
    margin: 0;
}

form {
    border:1px solid rgb(18, 65, 32);
    padding: 15px;
    border-radius: 15px;
    /*margin: 0 auto;*/
    display: flex;
    flex-direction: column;
    

}

#form, #form-buttons {
    justify-content: center;
    display: flex;
}

#form-buttons {
    flex-direction: row;
    justify-content: space-evenly;
}